[Unit]
Description=Nginx JS challenge service
After=network.target

[Service]
Type=simple

Environment="DAEMON_ARGS="
EnvironmentFile=-/etc/default/nginx-js-challenge

ExecStart=/usr/sbin/nginx-js-challenge -log-date-time=false ${DAEMON_ARGS}

Restart=on-failure
RestartSec=10

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
